// These colors are specific to the theme. Do not use in a package!
// See the colours defined by carloscuesta here https://github.com/carloscuesta/materialshell/blob/master/colors.md

@very-light-gray: lighten(@light-gray, 10%);
@light-gray: lighten(@gray, 10%);
@gray: #263238;
@dark-gray: #151515;
@very-dark-gray: darken(@dark-gray, 10%);

@cyan: #18ffff;
@blue: #40c4ff;
@purple: #ff4081;
@green: #c3d82c;
@red: #ff5252;
@yellow: #ffd740;
